name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  DB_CONNECTION: pgsql
  DB_DATABASE: sgrn_test
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_HOST: localhost
  DB_PORT: 5432

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: sgrn_test
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
      - uses: actions/checkout@v4

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate key
        run: php artisan key:generate

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - run: npm ci

      - name: Build frontend
        run: npm run build

      - name: Check typescript generation
        run: |
          php artisan typescript:transform
          git diff --exit-code -- ./resources/js/types/generated.d.ts

      - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
        run: php artisan test

      - name: Run linter
        run: vendor/bin/pint --test

  dusk-php:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: manager-e2e
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.4'

    - uses: actions/checkout@v4

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"

    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Generate key
      run: php artisan key:generate

    - name: Upgrade Chrome Driver
      run: php artisan dusk:chrome-driver --detect

    - name: Start Chrome Driver
      run: ./vendor/laravel/dusk/bin/chromedriver-linux --port=9515 &

    - name: Run Laravel Server
      run: php artisan serve --no-reload &

    - name: Run Dusk Tests
      run: php artisan dusk

    - name: Upload Screenshots
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: tests/Browser/screenshots

    - name: Upload Console Logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: console
        path: tests/Browser/console